name: MLOps Pipeline CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-compile:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Downgrade KFP for compatibility with v1 syntax used in assignment
        pip install "kfp<2.0"

    - name: Compile Pipeline
      run: |
        python pipeline.py
        ls -l pipeline.yaml
